In [1]:
import os
import glob
import pandas as pd
import re
import json
import time
from selenium import webdriver
from selenium.webdriver.common.by import By

## 1. 용도별 목적대화 데이터

In [2]:
def counting(path):
    cnt = 0
    data_dir = path

    for path in os.listdir(data_dir):
        if os.path.isfile(os.path.join(data_dir, path)):
            cnt += 1

    print(f'데이터 개수: {cnt}')
    return cnt

In [3]:
target_path = "../data/원본데이터/용도별 목적대화 데이터/"

In [4]:
target_path_list = os.listdir(target_path)
target_path_list

['AS문의',
 '관광',
 '교통',
 '등록문의',
 '레저',
 '민원신고',
 '배송',
 '부서안내',
 '비용환불문의',
 '서류문의',
 '숙박',
 '식당',
 '온오프라인안내',
 '이벤트',
 '일정문의',
 '절차문의',
 '제품사용문의',
 '주문결제',
 '프로그램문의',
 '환불반품교환']

In [5]:
total_data = 0
for i in range(len(target_path_list)):
    cnt = counting(target_path + target_path_list[i])
    total_data += cnt
print(f'총 데이터 개수 = {total_data}')

데이터 개수: 2726
데이터 개수: 200
데이터 개수: 100
데이터 개수: 200
데이터 개수: 200
데이터 개수: 300
데이터 개수: 2143
데이터 개수: 200
데이터 개수: 100
데이터 개수: 200
데이터 개수: 100
데이터 개수: 100
데이터 개수: 2336
데이터 개수: 1090
데이터 개수: 100
데이터 개수: 300
데이터 개수: 2773
데이터 개수: 2152
데이터 개수: 300
데이터 개수: 2110
총 데이터 개수 = 17730

In [6]:
txt = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path + target_path_list[i])
    for k in range(len(files)):
        file_path = str(target_path) + str(target_path_list[i]) + "/" + str(files[k])
        try:
            file = glob.glob(file_path)[0]
            f = open(file, 'r', encoding='utf-8')
            lines = f.readlines()
            f.close()
            for line in lines:
                line = re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z]', ' ', line)[2:]
                txt.append(line.strip())
        except:
            print(f"error! {file_path}")

In [7]:
len(txt)

225975

In [8]:
purpose_df = pd.DataFrame({'text': txt})
purpose_df.head()

                                         text
0                    반갑습니다   소속  상담사   이름 입니다
1                     안내해주신 방법을 시도해 봤는데 안 돼서요
2                             그러시다면 두 번째 방법은요
3                                휴대폰 명의자 본인이요
4  휴대폰하고 신분증 챙기셔서 저희 서비스센터 쪽으로 방문 하셔야 되세요 고객님

In [9]:
purpose_df.to_csv('../data/수정데이터/용도별 목적대화 데이터.csv', index=False)

## 2. 주제별 텍스트 일상 대화 데이터

In [10]:
target_path = "../data/원본데이터/주제별 텍스트 일상 대화 데이터/"

In [11]:
target_path_list = os.listdir(target_path)
target_path_list

['BAND', 'FACEBOOK', 'INSTAGRAM', 'KAKAO', 'NATEON']

In [12]:
total_data = 0
for i in range(len(target_path_list)):
    cnt = counting(target_path + target_path_list[i])
    total_data += cnt
print(f'총 데이터 개수 = {total_data}')

데이터 개수: 1835
데이터 개수: 9002
데이터 개수: 5400
데이터 개수: 26957
데이터 개수: 1807
총 데이터 개수 = 45001

In [13]:
txt = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path + target_path_list[i])
    for k in range(len(files)):
        file_path = str(target_path) + str(target_path_list[i]) + "/" + str(files[k])
        try:
            file = glob.glob(file_path)[0]
            f = open(file, 'r', encoding='utf-8')
            lines = f.readlines()
            f.close()
            for line in lines:
                line = re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z]', ' ', line)
                txt.append(line.strip())
        except:
            print(f"error! {file_path}")

In [14]:
len(txt)

870197

In [15]:
topic_df = pd.DataFrame({'text': txt})
topic_df.head()

                     text
0         너희 집 근처에는 병원 있어
1          응  난 엄청 근처에 있어
2      나는 차 타고   분 거리에 있어
3  집 근처에 병원이 있으면 편리한 거 같아
4           왜 그렇게 생각하는 거야

In [16]:
topic_df.to_csv('../data/수정데이터/주제별 텍스트 일상 대화 데이터.csv', index=False)

## 3. 일반상식 데이터

In [28]:
common_sense = open('../data/원본데이터/일반상식/ko_wiki_v1_squad.json', encoding='utf-8')
common_sense = json.loads(common_sense.read())

In [29]:
common_sense.keys()

dict_keys(['creator', 'version', 'data'])

In [30]:
common_sense['creator']

'MINDs Lab.'

In [31]:
common_sense['version']

'1'

In [32]:
len(common_sense['data'])

68538

In [33]:
common_sense['data'][0]

{'paragraphs': [{'qas': [{'question': '다테 기미코가 최초로 은퇴 선언을 한게 언제지',
     'answers': [{'answer_start': 260, 'text': '1996년 9월 24일'}],
     'id': '9_f2_wiki_2822-1'}],
   'context': "재팬 오픈에서 4회 우승하였으며, 통산 단식 200승 이상을 거두었다. 1994년 생애 최초로 세계 랭킹 10위권에 진입하였다. 1992년에는 WTA로부터 '올해 가장 많은 향상을 보여준 선수상'(Most Improved Player Of The Year)을 수여받았으며, 일본 남자 패션 협회(Japan Men's Fashion Association)는 그녀를 '가장 패셔너블한 선수'(Most Fashionable)로 칭했다. 생애 두 번째 올림픽 참가 직후인 1996년 9월 24일 최초로 은퇴를 선언하였다. 이후 12년만인 2008년 4월에 예상치 못한 복귀 선언을 하고 투어에 되돌아왔다. 2008년 6월 15일 도쿄 아리아케 인터내셔널 여자 오픈에서 복귀 후 첫 우승을 기록했으며, 2009년 9월 27일에는 한국에서 열린 한솔 코리아 오픈 대회에서 우승하면서 복귀 후 첫 WTA 투어급 대회 우승을 기록했다. 한숨 좀 작작 쉬어!"}],
 'title': '다테_기미코'}

In [34]:
common_sense['data'][0]['paragraphs'][0]['qas'][0]

{'question': '다테 기미코가 최초로 은퇴 선언을 한게 언제지',
 'answers': [{'answer_start': 260, 'text': '1996년 9월 24일'}],
 'id': '9_f2_wiki_2822-1'}

In [35]:
question, answer = [], []
for i in range(len(common_sense['data'])):
    QandA = common_sense['data'][i]['paragraphs'][0]['qas'][0]
    question.append(QandA['question'])
    answer.append(QandA['answers'][0]['text'])

In [36]:
Question, Answer = [], []
for q in question:
    q = re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z]', ' ', q)
    Question.append(q.strip())
for a in answer:
    a = re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z]', ' ', a)
    Answer.append(a.strip())

In [37]:
len(Question), len(Answer)

(68538, 68538)

In [38]:
sense_df = pd.DataFrame({'intent': ['일반상식']*len(Question), 'question': Question, 'answer': Answer})
sense_df.head()

  intent                   question    answer
0   일반상식  다테 기미코가 최초로 은퇴 선언을 한게 언제지  년  월   일
1   일반상식            ave new 본거지 어디야   도쿄 치요다구
2   일반상식         사카이 다다요시의 아버지가 누구지  사카이 나오타카
3   일반상식              일반성면의 면적이 얼마야        km
4   일반상식            금나라를 세운 사람이 누구야    태조 아구다

In [39]:
sense_df.to_csv('../data/수정데이터/일반상식 데이터.csv', index=False)

## 4. 여행 정보 데이터

In [41]:
info_df = pd.read_excel('../data/원본데이터/여행 정보 데이터셋/ko_template.xlsx')
info_df.head()

,type,city,title,start date,start time,end date,place
0,관광지,전라남도,‘봄의 왈츠’ 촬영지,NaN,NaN,NaN,전라남도 완도군 청산면 청산로 136
1,관광지,전라남도,‘서편제’ 촬영지,NaN,NaN,NaN,전라남도 완도군 청산면 당락리
2,관광지,강원도,㈜강원심층수,NaN,NaN,NaN,강원도 고성군 죽왕면 심층수길 124-19
3,관광지,강원도,㈜그래미 발명역사관,NaN,NaN,NaN,강원도 철원군 갈말읍 갈말로 32-30
4,관광지,제주도,㈜제주사랑 농수산,NaN,NaN,NaN,제주특별자치도 제주시 구좌읍 행원로13길 67

In [42]:
info_df['type'].unique()

array(['관광지', '공연/행사', '축제'], dtype=object)

In [43]:
info_df['label'] = info_df['type'].map(lambda x: '0' if x == '관광지' else '1')
info_df.head()

,type,city,title,start date,start time,end date,place,label
0,관광지,전라남도,‘봄의 왈츠’ 촬영지,NaN,NaN,NaN,전라남도 완도군 청산면 청산로 136,0
1,관광지,전라남도,‘서편제’ 촬영지,NaN,NaN,NaN,전라남도 완도군 청산면 당락리,0
2,관광지,강원도,㈜강원심층수,NaN,NaN,NaN,강원도 고성군 죽왕면 심층수길 124-19,0
3,관광지,강원도,㈜그래미 발명역사관,NaN,NaN,NaN,강원도 철원군 갈말읍 갈말로 32-30,0
4,관광지,제주도,㈜제주사랑 농수산,NaN,NaN,NaN,제주특별자치도 제주시 구좌읍 행원로13길 67,0

In [44]:
# 관광지: 0, 공연/행사, 축제: 1
info_df = info_df[info_df.columns[[1, 2, -2, -1]]]
info_df.tail()

,city,title,place,label
11395,경상북도,LG드림페스티벌 2017,경상북도 구미시 박정희로 375-22,1
11396,서울,Lifeplus 벚꽃피크닉페스티벌 2018,서울특별시 영등포구 63로 50,1
11397,경기도,SW교육 페스티벌 2017,경기도 고양시 일산서구 킨텍스로 217-60,1
11398,서울,What We Wear:왓위웨어 2017,서울특별시 중구 을지로 281,1
11399,서울,"[어디나 책, 누구나 책] 책의 해, 세계 책과 저작권의 날 2018",서울특별시 종로구 세종대로 172,1

In [45]:
len(info_df['city']), len(info_df['title'])

(11400, 11400)

In [46]:
info_df['sigungu'] = info_df[' place'].str.split(' ').str[1]

In [48]:
info_df['title'] = info_df['title'].apply(lambda x: re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z]', ' ', x))

In [49]:
info_df = info_df[['city', 'sigungu', 'title', 'label']]

In [50]:
info_df.to_csv('../data/수정데이터/여행정보 데이터.csv', index=False)

## 5. 네이버 지식인 여행지추천 데이터

In [ ]:
url = 'https://kin.naver.com/'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(1)

In [ ]:
driver.find_element(By.CLASS_NAME, 'ico_close_layer').click()
time.sleep(0.5)
driver.find_element(By.TAG_NAME, 'input').send_keys('국내 여행지 추천')
driver.find_element(By.CLASS_NAME, 'search_btn').click()

In [ ]:
title = []
question = []
answer = []

In [ ]:
for k in range(10):
    for j in range(1, len(driver.find_element(By.CLASS_NAME, 's_paging').find_elements(By.TAG_NAME, 'a'))):
        for i in range(len(driver.find_elements(By.CLASS_NAME, '_searchListTitleAnchor'))):
            driver.find_elements(By.CLASS_NAME, '_searchListTitleAnchor')[i].click()
            time.sleep(1)
            driver.switch_to.window(driver.window_handles[-1])
            title.append(driver.find_element(By.CLASS_NAME, 'title').text)
            try:
                question.append(driver.find_element(By.CLASS_NAME, 'c-heading__content').text)
            except:
                question.append('')
            answer.append(driver.find_element(By.CLASS_NAME, 'c-heading-answer__content').text)
            driver.close()
            driver.switch_to.window(driver.window_handles[0])
        driver.find_element(By.CLASS_NAME, 's_paging').find_elements(By.TAG_NAME, 'a')[j].click()
        time.sleep(1)

In [ ]:
recom_df = pd.DataFrame({'title': title, 'question': question, 'answer': answer})

In [ ]:
recom_df.to_csv('../data/원본데이터/여행지추천 데이터.csv', index=False)

In [37]:
recom_df = pd.read_csv('../data/원본데이터/여행지추천 데이터.csv')
recom_df.head()

,title,question,answer
0,4월29일~30일 국내여행지 추천,와이프랑 아들이랑 1박2일로\n경상도나 전라도로 여행을 갈려고합니다.\n숙소와 여행...,안녕하세요.\n질문하신 [국내여행지] 관련 답변 드리도록 하겠습니다.\n1박2일간 ...
1,20대 남자 3명 2박3일로 국내여행지 추천,20대 남자 3명 2박3일로 여행 갈만한 국내 여행지 자세하게 추천해주세요... \...,아무래도 남자 3명이서 여행은 바다와 술 이렇게 두개면 되지않겟습니까\n저는 강릉 ...
2,남자친구랑 300일 국내 여행지 추천,남자친구랑 9월 중순쯤에 300일 되서\n1박 2일로 놀러가려 하는데 서울에서 가까...,서울에서 가까운곳은 인천 가평 남양주 등이 있습니다.\n인천 가평 남양주 가볼만한곳...
3,국내여행지 추천해주세요,"국내 여행지 추천해주세요!\n차가없고 비행기나,기차나,버스로 다녀야할것같은데\n괜찮...",일단 가는곳도 교통이 좋아야 될것같죠. 대중교통이 좋은곳으로 가는게 도움이 될듯하구...
4,국내여행지 추천,4월말쯤 1박2일로 친구랑 여행갈까 생각중인데 갈만한 국내여행지 몇군데 추천해주세요...,안녕하세요! 2명의 여고생 친구분들과 함께 안전하면서도 즐길 수 있는 국내 여행지를...

In [38]:
recom_df.drop(columns='title', inplace=True)

In [45]:
recom_df.dropna(inplace=True)

In [46]:
questions = list(recom_df['question'])
answers = list(recom_df['answer'])

question, answer = [], []
for q in questions:
    q = re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z]', ' ', q)
    question.append(q.strip())

for a in answers:
    a = re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z]', ' ', a)
    answer.append(a.strip())

len(question), len(answer)

(980, 980)

In [47]:
recom_df = pd.DataFrame({'question': question, 'answer': answer})
recom_df.head()

,question,answer
0,와이프랑 아들이랑 박 일로 경상도나 전라도로 여행을 갈려고합니다 숙소와 여행코스...,안녕하세요 질문하신 국내여행지 관련 답변 드리도록 하겠습니다 박 일간 다녀...
1,대 남자 명 박 일로 여행 갈만한 국내 여행지 자세하게 추천해주세요 참고...,아무래도 남자 명이서 여행은 바다와 술 이렇게 두개면 되지않겟습니까 저는 강릉 추...
2,남자친구랑 월 중순쯤에 일 되서 박 일로 놀러가려 하는데 서울에서 가까운...,서울에서 가까운곳은 인천 가평 남양주 등이 있습니다 인천 가평 남양주 가볼만한곳 ...
3,국내 여행지 추천해주세요 차가없고 비행기나 기차나 버스로 다녀야할것같은데 괜찮은 ...,일단 가는곳도 교통이 좋아야 될것같죠 대중교통이 좋은곳으로 가는게 도움이 될듯하구...
4,월말쯤 박 일로 친구랑 여행갈까 생각중인데 갈만한 국내여행지 몇군데 추천해주세요 ...,안녕하세요 명의 여고생 친구분들과 함께 안전하면서도 즐길 수 있는 국내 여행지를...

In [48]:
recom_df.to_csv('../data/수정데이터/여행지추천 데이터.csv', index=False)